.contactContainer{
    background-color: white;
}

.text_social{
    display: flex;
    align-items: left;
    flex-direction: left;
}

.contact_info{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
}